@media only screen and (max-width: 960px) {
    .FlecheSty{
  width:12px;
  height:20px;}
}


.ImgCarrousel{
border-radius:25px;
width: 90%;
height: 550px;
object-fit: cover;
margin: 100px 5% 50px 5%;
position: static;}

@media only screen and (max-width: 960px) {
    .ImgCarrousel{
  width:95%;
  height:255px;
  margin: 40px 2.5% 30px 2.5%;}
}

.FlecheDirect{
display:flex;
z-index:1;
margin-top:-350px;
box-sizing: border-box;
width: 75%;
justify-content: space-between;
margin-left: 12%;}

@media only screen and (max-width: 960px) {
    .FlecheDirect{
  margin-top:-170px;}
}


.NombreImg{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 142.6%;
display: flex;
margin-top: 150px;
box-sizing: border-box;
width: 100%;
justify-content: center;
color: #FFFFFF;}

@media only screen and (max-width: 960px) {
    .NombreImg{
  display:none;}
}